<div class="interactive-wrapper">

    <div class="gv-headline">Weekly coronavirus cases - confirmed and estimated</div>
    <div class="multiple">
        <div class="gv-headline"><span id="utla-name">Local Authority</span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>

    </div>

    <div class="multiple">
        <div class="gv-headline"><span id="utla-name"></span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>
    </div>

    <div class="multiple">
        <div class="gv-headline"><span id="utla-name"></span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>
    </div>

    <div class="multiple">
        <div class="gv-headline"><span id="utla-name"></span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>
    </div>

    <div class="multiple">
        <div class="gv-headline"><span id="utla-name"></span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>
    </div>

    <div class="multiple">
        <div class="gv-headline"><span id="utla-name"></span></div>
        <div class="gv-subhead"></div>
        <svg id="gv-svg-col-chart" viewBox="0,0,500,350" style="overflow: visible;"></svg>
    </div>
    <div class="source">
        Data: confirmed cases - data.gov.uk, estimated cases - Edge Health, correct as of <span id="gv-col-timestamp"> 22 Nov 2020</span>
    </div>

</div>
