<div class="interactive-wrapper eng-graph est-graphics">
    <div class="gv-headline">Infections in England could be six times higher than official numbers</div>
    <div class="gv-subhead-top">
        Official, recorded cases compared to estimated cases in England
    </div>
    <div class="gv-subhead">
        <div class="info-box">
            <div><span class="estimated">&nbsp;</span></div>
            <p>estimated</p>
        </div>
        <div class="info-box">
            <p><span class="recorded">&nbsp;</span></p>
            <p>recorded</p>
        </div>
    </div>
    <svg class="gv-svg-col-chart-est" viewBox="0,0,600,400" style="overflow: visible;"></svg>
    <div class="source">
        % population of England infected by coronavirus over the course of the pandemic, up to 9 Nov 2020. 
        Data: Estimated cases, Edge Health. Recorded cases, data.gov.uk. 
    </div>
</div>
