@import "fonts";
@import "mq";
@import "palette";
@import "colchart";
// @import "enhancer";

.interactive-atom {
    margin: 0;
    padding: 0;
}


// multiples grid 

.interactive-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .multiple {
        flex: 0 0 400px;
        margin-top: 10px;
    }
}